@import url('variables.css');

body {
    background-color: var(--hueso);
    margin: 0;
    padding-top: 4rem; /* Asegura que el contenido no quede oculto detrás de la barra fija */
}

body section{
    padding: 1rem 5rem;
}

body p {
    font-family: var(--texto);
    font-size: 1rem; /* Tamaño de fuente adaptable */
}

body h2 {
    font-family: var(--titulos);
    font-size: 2rem; /* Tamaño de fuente adaptable */
}

body button {
    padding: .8rem 2rem;
    border: none;
    border-radius: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--verdeMatcha);
    transition: all 1000ms;
    font-size: 1rem;
    position: relative;
    overflow: hidden;
    font-family: var(--texto);
    background-color: var(--hueso);
    border: .1rem solid var(--verdeMatcha);
    }
    
    body button:hover {
        color: var(--hueso);
        transform: scale(1.1);
        box-shadow: 4px 5px 17px -4px var(--verdeMatcha);
    }
    
    body button::before {
        content: "";
        position: absolute;
        left: -1rem;
        top: 0;
        width: 0;
        height: 100%;
        background-color: var(--verdeMatcha);
        transform: skewX(45deg);
        z-index: -1;
        transition: width 1000ms;
    }
    
    body button:hover::before {
        width: 250%;
    }
    

/* ''''''''''''''''''''''''''ESTILO DE BARRA DE NAVEGACION '''''''''''''''''''''''''''''''''''''''''''''''''*/
header {
    background-color: var(--hueso); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex; /* <- Esto lo necesitábamos sí o sí */
    align-items: center; 
    justify-content: space-between; /* <- Distribuye h1 a la izquierda y nav a la derecha */
    padding: 1.5rem 2rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}
/* Estilo de plantasia*/
header h1 {
    font-family: var(--especial); /* Fuente especial para el logo */
    font-size: 1.5rem; /* Tamaño adaptable */
    color: var(--verdeMatcha); /* Color verde matcha */
    margin: 0;
    padding: 0 2rem;
}
/* Estilo de los enlaces */
header nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Flexbox para alinear los enlaces horizontalmente */
    gap: 3rem; /* Espaciado entre los enlaces */
    margin: 0;
    padding: 0 6rem;
    
}
header nav ul li a {
    font-family: var(--especial); /* Fuente para los enlaces */
    font-size: 1rem; /* Tamaño adaptable */
    color: var(--negro); /* Color negro */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave al pasar el cursor */
}
header nav ul li a:hover {
    color: var(--verdeMatcha); /* Cambia a verde matcha al pasar el cursor */
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE BARRA DE NAVEGACION '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''ESTILO DE BANNER INICIAL '''''''''''''''''''''''''''''''''''''''''''''''''*/
/* Fondo del banner */
.BannerPrincipal {
    background-color: var(--verdeMatcha);
    width: 86%; /* Ocupa todo el ancho */
    height: 85vh; /* Altura del % de la ventana */
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
    flex-direction: column;
}
/* Color del texto */
.BannerPrincipal h2{
    font-family: var(--especial);
    color: var(--hueso);
    font-size: 3.4rem;
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE BANNER INICIAL'''''''''''''''''''''''''''''''''''''''''''''''''*/