
/* BASE CSS
Este documento tiene como fin el poder agilizar el diseño, reutilizando variables
para evitar usar colores dispersos o fuentes incorrectas, para poder hacer uso de él,
vease el ejemplo de styleindex */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores principales : */
    --verdeMatcha: #7B904B;
    --hueso: #f6f5ef; /* Blanco */
    --negro: #000000;
    --verdeClaro: #aec892;
    --verdeApagado: #8e9d8a;
    --verdeGlow: #88b04b;
    --grisPlaceHolder: #747475;

    /* Tipografía */
    --especial: 'Playfair Display', serif;
    --titulos: 'League Gothic', sans-serif;
    --texto: 'Montserrat', sans-serif;
    --notoSans: 'Noto Sans', sans-serif;

    /* Medidas */
    --paddingGeneral: 1rem 6rem; /* Este es el espacio entre el texto del body y el borde de la pantalla */
    --radiusGeneral: 4.5rem;
    --radiusInput: .75rem;
}