@import url('../variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a,
a:visited,
a:active,
a:focus {
    color: inherit;
    text-decoration: none;
}

html, body {
    overflow-x: hidden;
}
body {
    background-color: var(--hueso);
    margin: 0;
    padding-top: 4rem; /* Asegura que el contenido no quede oculto detrás de la barra fija */
}

body section{
    padding: var(--paddingGeneral);
}

body p {
    font-family: var(--texto);
    font-size: 1rem; /* Tamaño de fuente adaptable */
    line-height: 1.5rem;
}

body h2 {
    font-family: var(--titulos);
    font-size: 1.7rem; /* Tamaño de fuente adaptable */
    font-weight: bold;
}

/* ''''''''''''''''''''''''''ESTILO DE BOTONES '''''''''''''''''''''''''''''''''''''''''''''''''*/
body button {
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 1.8rem;
    font-weight: bold;
    cursor: pointer;
    color: var(--verdeMatcha);
    transition: all 0.3s ease; /* Reducir la duración para mejor experiencia */
    font-size: 1rem; /* Tamaño relativo */
    position: relative;
    overflow: hidden;
    font-family: var(--texto);
    background-color: var(--hueso);
    border: 0.1rem solid var(--verdeMatcha);
}
body button:hover {
    color: var(--hueso);
    transform: scale(1.1);
    box-shadow: 0.25rem 0.3125rem 1rem -0.25rem var(--verdeMatcha); /* Ajuste de sombra */
}
body button::before {
    content: "";
    position: absolute;
    left: -1rem;
    top: 0;
    width: 0;
    height: 100%;
    background-color: var(--verdeMatcha);
    transform: skewX(45deg);
    z-index: -1;
    transition: width 0.3s ease; /* Reducir la duración para mejor experiencia */
}
body button:hover::before {
    width: 250%;
}
/* '''''''''''''''''''''''''' FIN DE ESTILO DE BOTONES '''''''''''''''''''''''''''''''''''''''''''''''''*/
    

/* ''''''''''''''''''''''''''ESTILO DE BARRA DE NAVEGACION '''''''''''''''''''''''''''''''''''''''''''''''''*/
header {
    background-color: var(--hueso); 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    display: flex; /* <- Esto lo necesitábamos sí o sí */
    align-items: center; 
    justify-content: space-between; /* <- Distribuye h1 a la izquierda y nav a la derecha */
    padding: 1.5rem 2rem;
    box-shadow: 0 0.125rem 0.3125rem rgba(0, 0, 0, 0.1);
}
/* Estilo de plantasia*/
header h1 {
    font-family: var(--especial); /* Fuente especial para el logo */
    font-size: 1.5rem; /* Tamaño adaptable */
    color: var(--verdeMatcha); /* Color verde matcha */
    margin: 0;
    padding: 0 2rem;
}
/* Estilo de los enlaces */
header nav ul {
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Flexbox para alinear los enlaces horizontalmente */
    gap: 3rem; /* Espaciado entre los enlaces */
    margin: 0;
    padding: 0 3rem;
    
}
header nav ul li a {
    font-family: var(--especial); /* Fuente para los enlaces */
    font-size: 1rem; /* Tamaño adaptable */
    color: var(--negro); /* Color negro */
    text-decoration: none; /* Elimina el subrayado */
    transition: color 0.3s ease; /* Transición suave al pasar el cursor */
}
header nav ul li a:hover {
    color: var(--verdeMatcha); /* Cambia a verde matcha al pasar el cursor */
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE BARRA DE NAVEGACION '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''ESTILO DE BANNER INICIAL '''''''''''''''''''''''''''''''''''''''''''''''''*/
/* Fondo del banner */
.BannerPrincipal {
    background-color: var(--verdeMatcha);
    width: 100%; /* Ocupa todo el ancho */
    height: 88vh; /* Altura del % de la ventana */
    display: flex;
    justify-content: center; /* Centra verticalmente */
    align-items: center; /* Centra horizontalmente */
    text-align: center;
    flex-direction: column;
    overflow: hidden;
}
/* Color del texto */
.BannerPrincipal h2{
    font-family: var(--especial);
    color: var(--hueso);
    font-size: 3.4rem;
    padding-bottom: 1.5rem;
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE BANNER INICIAL'''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''ESTILO DE ECOFACTS1 '''''''''''''''''''''''''''''''''''''''''''''''''*/
#EcoFacts {
    display: flex; /* <- Esto lo necesitábamos sí o sí */
    align-items: center; 
    justify-content: space-between; 
}


.TextoEco {
    width: 68%;
    padding-top: 3rem;
    padding-left: 8rem;
}
.TextoEco li{
    font-family: var(--texto);
    margin-bottom: 1rem; 
}
.TextoEco h2{
    font-family: var(--especial);
    font-weight: bolder;
    padding-bottom: 1.5rem
}
#ImagenEco {
    width: 50%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE ECOFACTS1 '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''ESTILO DE ECOFACTS2 '''''''''''''''''''''''''''''''''''''''''''''''''*/
#EcoFacts2 {
    display: flex; /* <- Esto lo necesitábamos sí o sí */
    align-items: center; 
    justify-content: space-between; 
    padding-bottom: 3rem;
    margin-bottom: 2rem;
}
.TextoEco2 {
    width: 68%;
    padding-top: 3rem;
    padding-left: 8rem;
}
.TextoEco2 h2{
    font-family: var(--especial);
    font-weight: bolder;
    padding-bottom: 1.5rem
}
#ImagenEco2 {
    width: 50%;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
}

#ImagenEco2 img{
    margin-left: 5rem;
}
/* ''''''''''''''''''''''''''FIN DE ESTILO DE ECOFACTS2 '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''KEEP IT GREEN SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
#K{
    background-color: var(--verdeMatcha);
    width: 100%; /* Ocupa todo el ancho */
    text-align: center; 
    color: var(--hueso);

}

#K p{
    font-family: var(--especial);
    padding: .5rem 0;
    letter-spacing: .4rem;
}
/* ''''''''''''''''''''''''''FIN KEEP IT GREEN'''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''MEXICO SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
.Mexico {
        display: flex; 
        align-items: center;
        justify-content: space-between;
}

.Mexico img{
    margin-right: -9rem;
    border-radius: 2.7rem;
}

#Parte1{
        width: 50%;
}

#Parte1 h2{
        font-family: var(--especial);
        font-weight: bolder;
        padding: 3.2rem 0 1.5rem 0;
        font-size: 2.3rem;
        margin-top: 2rem;
        
}
#Parte1 p{
        padding-bottom: 2rem;
}

#Parte1 button{
        background-color: var(--verdeMatcha);
        color: var(--hueso);
        padding: 0.8rem 2rem;
        border-radius: 1.8rem;
        cursor: pointer;
        transition: all 0.3s ease; /* Reducir la duración para mejor experiencia */
        margin-bottom: 3rem;
}

#ImagenMexico {
        width: 50%;
        display: flex;
        justify-content: right; /* Centra horizontalmente */
        align-items: center; /* Centra verticalmente */
}
/* ''''''''''''''''''''''''''FIN DE MEXICO SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''GETTING GREEN SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
.GettingGreen {
    background-color: var(--verdeMatcha);
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: var(--hueso);
}

.GettingGreen h4{
    font-family: var(--texto);
    font-size: .9rem;
    margin: 1rem;
    letter-spacing: 0.2rem;
}

.GettingGreen h2{
    font-family: var(--especial);
    font-weight: bolder;
    margin-top: -1rem;
    margin-bottom: 2rem;
    font-size: 2.6rem;
}

#TextoGettingGreen p{
    margin-top: -1.4rem;
    margin-bottom: 1rem;
}


/* CARDS */ 
.acciones{
        display: flex;
        align-items: stretch;
        justify-content: space-evenly; /* Espacio igual entre y alrededor de las cards */
        width: 100%;
        gap: 2rem; /* Espacio entre las cards */
        flex-wrap: wrap;
}
    .card {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17rem;
    border-radius: 1.5rem;
    line-height: 1.6;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    margin-top: 2rem;
    margin-bottom: 2rem;
    }

    .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
    padding: 1.7rem;
    border-radius: 1.5rem;
    color: var(--verdeMatcha);
    overflow: hidden;
    background: var(--hueso);
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .content::before {
    position: absolute;
    content: "";
    top: -4%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%);
    background: #9dc078;
    z-index: -1;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }

    .content::after {
    position: absolute;
    content: "";
    top: -8%;
    left: 50%;
    width: 80%;
    height: 80%;
    transform: translate(-50%);
    background: #dbf0c4;
    z-index: -2;
    transform-origin: bottom;
    border-radius: inherit;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    }
    .content .para {
    z-index: 1;
    opacity: 1;
    transition: all 0.48s cubic-bezier(0.23, 1, 0.32, 1);
    font-size: .8rem;
    margin-top: -1rem;
    font-weight: bold;
    line-height: 1rem;
    }
    .content h3{
        padding-top: 3rem;
    }
    .card:hover {
    transform: translate(0px, -16px);
    }
    .card:hover .content::before {
    rotate: -8deg;
    top: 0;
    width: 100%;
    height: 100%;
    }
    .card:hover .content::after {
    rotate: 8deg;
    top: 0;
    width: 100%;
    height: 100%;
    }

    /* ''''''''''''''''''''''''''FIN DE GETTING GREEN SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''ABOUT US SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
.SobreNosotros{
    margin: 3.3rem 0;
}

.SobreNosotros h2{
    font-family: var(--especial);
    font-weight: bolder;
    padding-bottom: 1.5rem;
    font-size: 2.3rem;
}

/* ''''''''''''''''''''''''''FIN ABOUT US SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/

/* ''''''''''''''''''''''''''PIE DE PAGINA SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
footer{
    background-color: var(--verdeMatcha);
    color: var(--hueso);
    padding: 2rem 6rem

}

/* ''''''''''''''''''''''''''FIN DE PIE DE PAGINA SECTION '''''''''''''''''''''''''''''''''''''''''''''''''*/
